@charset "UTF-8";
@media screen and (min-width: 768px) {
    body {
        text-align: justify;
        font-size: 1.2em;
    }
    
    main {
        width: 80%;
        margin: auto;
    }

    #home {
        background-attachment: fixed;
    }

    #menu-header a {
        font-size: 1.1em;
    }

    .sobre-container {
        flex-direction: row;
        justify-content: space-between;
    }

   .foto-sol img {
    width: 350px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
    display: block;
   }
}