@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Quicksand:wght@300..700&display=swap');

:root {
    --branco: #FFFFFF;
    --off-white-fundo: #F9F9F9;
    --vermelho-suave-rosado: #E57373;
    --rosa-claro: #FCE4EC;
    --cinza-leve-texto: #555555;
    --bordô: #800020;

    --fonte-principal: "Quicksand", sans-serif;
    --fonte-titulo: "Marcellus", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: var(--off-white-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    line-height: 2em;
    text-align: left;
    color: var(--cinza-leve-texto);
    
}

h1, h2, h3 {
    font-family: var(--fonte-titulo);
}

p {
    
}

header {
    background-color: var(--vermelho-suave-rosado);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
    margin-bottom: 20px;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
   
}


#menu-header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.322);
    transition: 0.5s;
  
   
}


#menu-header a:hover {
    color: var(--cinza-leve-texto);
    text-decoration: underline;
    cursor: pointer;
}


main {
    background-color: var(--off-white-fundo);
    display: grid;
    grid-template-columns: 1fr;
}

section {
    padding: 0px 30px;
}

#home {
    background-image: url(../imagens/campo-florido-640.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
}


.frases-home {
    color: white;
    background-color: #55555531;
    width: 70%;
    padding: 150px 10px;
    margin: 30px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.frases-home #botao {
    margin-top: 30px;
}

 .frases-home p {
    text-align: center;
    font-weight: bold;
}

.frases-home h3 {
    text-align: center;
}

.atendimento {
    text-align: center;
    padding: 60px 20px;
    background: #F9F9F9;
}

.atendimento h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
}

/* container */
.cards-atendimento {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.atendimento #botao {
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 280px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* hover elegante */
.card:hover {
    transform: translateY(-5px);
}

/* ícone */
.icon {
    font-size: 30px;
    margin-bottom: 10px;
}

/* título */
.card h3 {
    margin-bottom: 10px;
    color: #C62828;
}

/* texto */
.card p {
    font-size: 14px;
    color: #555;
}

#botao {
    width: 175px;
    background-color: var(--vermelho-suave-rosado);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.279);
}

#botao a {
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
    transition: 0.5s;
}

#botao a:hover {
    color: var(--cinza-leve-texto);
    text-decoration: underline;
}


#sobre h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

#terapeutica h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}



footer {
    background-color: var(--vermelho-suave-rosado);
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.299);
}

footer a:hover {
    color: var(--cinza-leve-texto);
    text-decoration: underline;
}